<div id="counter">
	<%= show_counter(@exam) %>
</div>

<div class="page-header">
  <h1>Respondendo a avaliação <small>(<%= @exam.title %>)</small></h1>
</div>

<%= render "form" %>

<% content_for :custom_javascript do %>
  <script>
		$(document).ready(function () {
			//create plugin from this
			var elem = $('#counter');
		  var top = elem.offset().top - parseFloat(elem.css('margin-top').replace(/auto/,0));
			var counter_time = parseInt(elem.html().replace(/\s+[a-zA-Z]+/gi,''));
		
		  $(window).scroll(function (event) {
		    var y = $(this).scrollTop();

		    if (y >= top) {
		      elem.addClass('counter_fixed');
		    } else {
		      elem.removeClass('counter_fixed');
		    }

		  });
		
			var update_counter = setTimeout(function() {
					counter_time--;
					elem.html("Restam " + counter_time + " minuto(s)");

			    if (counter_time == 0 || isNaN(counter_time)) {
						elem.html("Tempo esgotado");
			   		clearTimeout();
			    } 
					else	{
			    	setTimeout(arguments.callee, 60000);
			    }
			}, 60000);
		
		})
	</script>
<% end %>