<div class="page-header">
  <h1>Listagem de alunos</h1>
</div>

<% if @students.present? %>

<div class="page-header">
	<h3>Alunos ativos</h3>
</div>
	
	<% if @active_students.any? %>
		<%= render "index_students", :students => @active_students %>
	<% else %>
		<p>Não existem alunos ativos.</p>
	<% end %>
	
	<div class="page-header">
		<h3>Alunos aguardando ativação</h3>
	</div>
	
	<% if @pending_students.any? %>
		<%= render "index_students", :students => @pending_students %>
	<% else %>
		<p>Não existem alunos pendentes.</p>
	<% end %>	
	
<% else %>
	<div class="alert alert-block">
		<a class="close" data-dismiss="alert">×</a>
		<p>Não existem alunos cadastrados.</p>
	</div>
<% end %>

