<% if object.errors.any? %>
<div class="alert-message block-message error fade in">
	<a class="close" href="#">×</a>
	<p><strong>Em função de <%= pluralize(object.errors.count, "erro") %> não foi possível salvar.</strong> Por favor verifique o seguinte:</p>
	<ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
	</ul>
</div>
<% end %>