<p>Novo aluno cadastrado - <%= @student.name %></p>

<p>O aluno acaba de se cadastrar no Alternativa.</p>

<p>Para gerenciar este e outros alunos, acesse a <strong><%= link_to "página de gerencimento de alunos", admin_students_url %></strong></p>

<hr/>

<p>Não responda a este e-mail. E-mail enviado automaticamente através do Alternativa.</p>