<p>Olá <%= @resource.email %>!</p>

<p>Favor confirmar sua conta pelo link abaixo:</p>

<p><%= link_to 'Confirmar minha conta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
