<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para você mudar sua senha do Alternativa, e você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se não foi você que solicitou isso, por favor ignore essa mensagem.</p>
<p>A sua senha não irá mudar até que você acesse o link acima e a modifique.</p>

<hr/>

<p>Não responda a este e-mail. E-mail enviado automaticamente através do Alternativa.</p>
