<div class="clearfix">
	<div class="input">
	<div class="input-prepend">
		<label class="add-on">
			<%= builder.radio_button :correct, true, :name => "correct_answer[#{builder.object.question.object_id}]"  %>
		</label>
		
		<%= builder.hidden_field :_destroy %> 
		<%= builder.text_field :title, :class => "span7" %> 
		<%= link_to_function "Remover", "remove_field(this)", :class => "btn danger" %> 
	</div>
	</div>
</div> 