<div class="clearfix">
	<%= builder.label :title, "Alternativa" %>
	<div class="input">
		<%= builder.text_field :title, :class => "xlarge" %> <%= link_to "Remover", "", :class => "btn danger" %>	
	</div>
</div> 